/* Averia Serif Libre */
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* inter */
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-paper: #3D3E42;
    --bg-default: #232931;
    --bg-primary: #A0CCFF;
    --text-primary: #A0CCFF;
    --text-default: #EFEFEF;
    --text-hint: #D2D2D2;
    --text-warm: rgb(255, 0, 85);
}



body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Averia Serif Libre", serif;
    font-size: 1rem;
    text-align: center;
}

/* container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
    background: linear-gradient(180deg, #DCECFF, #85bdfd);
}

.title {
    font-size: 3rem;
    font-weight: 500;
    margin: 0 0 1rem;
}


/* TimerDisplay component */
.box-time {
    background: #102B3F;
    height: 250px;
    width: 412px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#timer-label {
    font-size: 1.8rem;
    color: var(--text-hint);
}


#time-left {
    font-size: 4rem;
    color: var(--text-default);
    font-family: "Inter", sans-serif;
}

#time-left.active,
#timer-label.active-label{
    color: var(--text-warm);
}


.list-btn {
    text-align: center;
}


#start_stop,
#reset {
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: var(--bg-primary);
    border-radius: 10px;
    margin: 0 1rem;
}

#start_stop span,
#reset span {
    font-size: 1.5rem;
    color: var(--bg-default);
}

/* timerControls Components */
.timer-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

#break-label,
#session-label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.btn-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn-level {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    width: 2rem;
}

#break-decrement,
#break-increment,
#session-decrement,
#session-increment {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: var(--text-default);
    border: none;
}

.btn-control button:active span {
    scale: 0.98;
}

/* responsive */
@media screen and (max-width:445px) {
    .title {
        font-size: 2.5rem;
        margin: 0;
    }
    .box-time {
        width: 360px;
    }
}

@media screen and (max-width:376px) {
    .box-time {
        width: 320px;
    }   

    #break-label, #session-label {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
}