body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 2rem;
}

/* timerControls Components */
.timer-control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btn-control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* TimerDisplay component */
.list-btn{
    text-align: center;
}

#start_stop, #reset{
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}